.navbarBox{
    box-shadow: 0 0 20px 0 rgba(0,0,0,.1)!important;
}
#page-header-notifications:hover .dropdown-menu{
    display: block;
}
.menu-profile-header:hover .dropdown-menu{
    display: block;
}