 body {
    overflow-x: hidden;
  }
  
  #sidebar-wrapper {
    min-height: 100vh;
    margin-left: -15rem;
    -webkit-transition: margin .25s ease-out;
    -moz-transition: margin .25s ease-out;
    -o-transition: margin .25s ease-out;
    transition: margin .25s ease-out;
    box-shadow: 0px 0px 15px 0px #dee2e6;
    max-width: 240px;
  }
  
  #sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
  }
  
  #sidebar-wrapper .list-group {
    width: 15rem;
  }
  
  #page-content-wrapper {
    min-width: 100vw;
    background: #f6f6f6;
  }
  .list-group-item{
    color: #898989;
    font-weight: 400;  
  }
  .list-group-item-action:focus, 
  .list-group-item-action:hover{
    color: #ca1619!important;
  }
  @media (min-width: 768px) {
    #sidebar-wrapper {
      margin-left: 0;
    }
  
    #page-content-wrapper {
      min-width: 0;
      width: 100%;
    }
  }
   .border-perfil{
    border-radius: 60%!important;
   }
   .content-side-user{
    background: linear-gradient(45deg, #560b0c,#731012, #ca1619);
   }
  